body{ 
    background: white; 
}
.mainHeader{ 
    color: #004704
}
.sectionHeader{ 
    color: #005425
}  
.dairyHeader{
    color: #187D87
}
.footer{
    color: #45A59C

}
 .link{
     color: #84CE9C

 }